<div id="footer">
    <a href={{site.data.profile.website}}><img class="social_icon" src={{site.data.profile.website_icon}}></a>
    <a href="mailto:"{{site.data.profile.email}}><img class="social_icon" src={{site.data.profile.email_icon}}></a></a>
    <a href={{site.data.profile.facebook}}><img class="social_icon" src={{site.data.profile.facebook_icon}}></a></a>
    <a href={{site.data.profile.twitter}}><img class="social_icon" src={{site.data.profile.twitter_icon}}></a></a>
    <a href={{site.data.profile.linkedin}}><img class="social_icon" src={{site.data.profile.linkedin_icon}}></a></a>
    <p>{{site.data.profile.footer}}</p>
</div>