<div id="footer">
    <a href={{site.data.profile.website}}><img class="social_icon" src="/assets/socialmedia/website.png"></a>
    <a href="mailto:"{{site.data.profile.email}}><img class="social_icon" src="/assets/socialmedia/email.png"></a></a>
    <a href={{site.data.profile.facebook}}><img class="social_icon" src="/assets/socialmedia/facebook.png"></a></a>
    <a href={{site.data.profile.twitter}}><img class="social_icon" src="/assets/socialmedia/twitter.png"></a></a>
    <a href={{site.data.profile.linkedin}}><img class="social_icon" src="/assets/socialmedia/linkedin.png"></a></a>
    <p>{{site.data.profile.footer}}</p>
</div>